.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
/* todo Fonts for this page Starts here*/
.header-font {
  font-family: "Sedgwick Ave", cursive;
}
/*  */
/* todo Fonts for this page Ends here*/
/*? todo footer waves starts here*/
.outer-box {
  overflow: hidden;
}
/*? todo footer waves ends here*/

/**todo hover property starts here*/
.team-item {
  transition: all 0.1s ease-out;
  box-shadow: 0 0px 2px 0 rgba(100, 100, 100, 0.26);

  height: 20rem;
}

.team-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 20px 0 rgba(100, 100, 100, 0.26);
}
/**todo hover property Ends here*/
