* {
  margin: 0;
  padding: 0;
}

/*  navigation bar */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img {
  height: 90px;
  width: 270px;
  padding-left: 30;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover {
  color: #c21111 !important;
}
.navbar {
  background: #fef98d;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}

.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #c21111;
}

/*box form*/
#boxform {
  margin: 5% 5% 5% 5%;
  padding: 0.5% 10% 3% 10%;
  border: #33353d;
}
.form-group {
  border: #33353d;
}

.boxform-display-4 {
  align-content: center;
}

/*footer*/

.site-footer {
  background-image: url("img/footer6\ aakash\ design.png");
  background-size: auto;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: rgb(88, 88, 88) 3;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: black;

  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}
.footer-links a {
  color: rgb(88, 88, 88);
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b200;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.instagram:hover {
  background-color: #ea4c89;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.team-item {
  transition: all 0.1s ease-out;
  box-shadow: 0 0px 1px 0 rgba(100, 100, 100, 0.26);

  height: 20rem;
}

.team-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 20px 0 rgba(100, 100, 100, 0.26);
}
